{% extends 'myhome/base.html' %}
{% load static %}
{% block content %}
<h1>Our Agents</h1>
{% for agent in agents %}
<div class="col-md-4 mb-4">
    <div class="card">
        <div class="card-body">
            <img src="{% static 'assets/img/profilepic.png' %}" style="height:80%; width:80%;margin-left:10%;">
            <h5 class="card-title">{{ agent.username }}</h5>
            <p class="card-text">Number of Properties: {{ agent.num_properties }}</p>
            <p class="card-text">Phone Number: {{ agent.phone_number }}</p>
            <a href="">View Agent Properties</a>
        </div>
    </div>
</div>
{% empty %}
    <p>No agents found.</p>
{% endfor %}
{% endblock%}
