{% load static %}
<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="home" viewBox="0 0 16 16">
      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
      <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
    </symbol>
    <symbol id="notification" viewBox="0 0 16 16">
      <path d="M8 0a1.5 1.5 0 0 0-1.5 1.5v1.75a4.5 4.5 0 0 1 3 4.214v1.036c0 .131.051.26.143.354l1.4 1.4a2 2 0 0 1-1.4 3.414h-3.486a2 2 0 0 1-1.4-3.414l1.4-1.4a.5.5 0 0 0 .143-.354v-1.036A4.5 4.5 0 0 1 6.5 3.25V1.5A1.5 1.5 0 0 0 5 0a1.5 1.5 0 0 0-1.5 1.5v1.75A6.5 6.5 0 0 0 1 9.25v3.768l-1.248 1.871a.5.5 0 0 0 .434.758H15.814a.5.5 0 0 0 .434-.758L14 13.018v-3.768A6.5 6.5 0 0 0 8.5 3.25V1.5A1.5 1.5 0 0 0 8 0zM8 2a.5.5 0 0 1 .5.5V3h-1V2.5a.5.5 0 0 1 .5-.5zm-4 7.5V9h8v.5A5.5 5.5 0 0 1 8 14.929a5.5 5.5 0 0 1-4-4.429z"/>
    </symbol>

  </svg>

     <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}"">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Property</a>
            </li>
            <div class="nav-item">
                <a class="nav-link" href="{% url 'all-agents' %}">Agents</a>
              </div>
          </ul>

          <div class="d-flex">
            <form class="d-flex mx-auto">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if logged_in %}
            <div class="nav-item">
                <span class="nav-link">Welcome, {{ user }}</span>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
            <div class="nav-item">
            <button class="btn btn-outline-primary"> <a class="nav-link" href="{% url 'submitproperty' %}">Add listings</a></button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--end nav-->

    <!-- main body content  -->
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light mt-1">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white ">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link align-middle px-0">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                         <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                         <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                           <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                           <span class="ms-1 d-none d-sm-inline">My Property</span></a>
                    </li>
                    <li>
                        <a href="{% url 'my_profile' %}" class="nav-link px-0 align-middle">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#notification"/></svg>
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Notifications</span> </a>
                    </li>
                </ul>
                <hr>
                <li>
                    <a href="{% url 'my_profile' %}" class="d-flex align-items-center text-black text-decoration-none ">
                        <img src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static 'assets/img/profilepic.png' %}{% endif %}"  width="30" height="30" class="rounded-circle" alt="user image">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                  </li>
            </div>
        </div>
        <div class="col py-3">
          <div class="row">
            {% block content %}
            {% endblock %}

        </div>
      </div>      
    </div>

    <!--footer-->
    <footer class="full-row bg-light py-4">
      <div class="container">
        <div class="row ">
          <div class="mb-4 col-6 col-lg-3 col-sm-6 col-md-4 col-lg-2 col-xxl-2">
            <div class="mb-2">
              <p class="pb-4 text-black bold ">Find your comfort with us.</p>

            </div>
          </div>
          <div class="">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-widget footer-nav mb-4">
                  <h4 class="widget-title text-black double-down-line-left position-relative">Support</h4>
                  <ul class="hover-text-primary">
                    <li><a href="#" class="text-black">Forum</a></li>
                    <li><a href="#" class="text-black">Terms and Conditions</a></li>
                    <li><a href="#" class="text-black">Frequently Asked Questions</a></li>
                    <li><a href="contact.php" class="text-black">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-widget footer-nav mb-4">
                  <h4 class="widget-title text-black bold double-down-line-left position-relative">Quick Links</h4>
                  <ul class="hover-text-primary">
                    <li><a href="" class="text-black">About Us</a></li>
                    <li><a href="#" class="text-black">Featured Property</a></li>
                    <li><a href="#" class="text-black">Submit Property</a></li>
                    <li><a href="" class="text-black">Our Agents</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-widget">
                  <h4 class="widget-title  double-down-line-left position-relative">Contact Us</h4>
                  <ul class="text-black">
                    <li class="hover-text-primary"><i class="fas fa-map-marker-alt text-white mr-2 font-13 mt-1"></i>83, Chogoria</li>
                    <li class="hover-text-primary"><i class="fas fa-phone-alt text-white mr-2 font-13 mt-1"></i>+254 00000000000</li>
                    <li class="hover-text-primary"><i class="fas fa-phone-alt text-white mr-2 font-13 mt-1"></i>+254 0000000000</li>
                    <div class="footer-widget media-widget mt-4 text-black hover-text-primary">
                      <a><img src="{% static 'assets/img/icon-facebook.svg' %}" style="margin-left:2%;"></a>
                      <img src="{% static 'assets/img/icon-instagram.svg' %}" style="margin-right: 2%;">
                      <img src="{% static 'assets/img/icon-twitter.svg' %}" style="margin-right: 2%;">
                      <img src="{% static 'assets/img/icon-youtube.svg' %}" style="margin-right:3%">
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <span class="text-black bold vh-100">&copy; Antony Web Design</span>
            </div>
            <div class="col-sm-6">
              <ul class="line-menu text-white hover-text-primary float-right">
                <li><a href="#">Privacy & Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="{% static 'assets/js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
