
{% extends 'myhome/base.html' %}

{% block content %}
          {% for property in properties %}
          <div class=" mb-4 col-6 col-lg-3 col-sm-6 col-md-4 col-lg-2 col-xxl-2">
              <div class="card" >
                <div class="card-img  center" style="height:180px;">
                  <img src="{{ property.image1.url }}" alt="Property Image" style="width:100%; height:90%;">
                </div>
                  <div class="card-footer">
                      <h5 class="card-title">{{ property.title }}</h5>
                      <p class="card-text limit-lines">{{ property.specific_description }}</p>
                      <a href="{% url 'property_details' property.id  %}" class="btn btn-primary" style="width:100%; height:10%;" >View Details</a>
                  </div>
              </div>
          </div>
          {% endfor %}
{% endblock %}
        